<div id="head">スケジュールアプリ</div>

<hr>
<!DOCTYPE html>
<html lang="ja">
  
  <% #https://mankutsu.com/angularmaterial-sidenav-823 %>
  
<head>
  <meta charset="utf-8">
</head>

<body>


  <div class="main">
    <p>
  <h1>メインページ</h1><u><%= session[:user].user_name %>さん</u>のアカウントです。
  <div id="logout">
  <%= link_to "ログアウト", top_logout_path %><br>
  </div>
    </p>
  </div>
<%
=begin
%>
  <% if @workpartners and flash[:eventpartner] %>
    <u>
      <p><%= flash[:eventpartner] %></p>
      <p><%= link_to "新しくworkpartnerを設定", workpartner_new_path %></p>
    </u>
<%
=end
%>
  <% if flash[:notice] %>
    <u><p><%= flash[:notice] %></p></u>
  <% end %>
  

  
  



  <nav>
  <ul>
  <li><%= link_to " ホーム ", top_index_path %></li>
	<li><%= link_to " 予定作成 ", new_event_path %></li>
	<li><%= link_to " すべての予定を表示 ", event_all_path %></li>
	<li><%= link_to " プロフィール表示 ", profile_index_path %></li>
	<li><%= link_to " 消化した予定一覧 ", event_list_path %></li>
	<li><%= link_to " 仕事相手の一覧 ", workpartner_list_path %></li>
  </ul>
  </nav>
 
  <br>
  <br>
  <br>





  <hr>
  <% @event_asc.each do |f| %>
    <div id="event">
    <% if @now.ago(1.days) > f.event_day or @now.since(6.days) < f.event_day %>
    <% else %>
      <p>日付：<%= f.event_day %></p>
      <p>開催時間：<%= f.event_time.hour %>時<%= f.event_time.min %>分</p>
      <p>相手：<%= link_to "#{@workpartner.find_by(workpartner_address: f.eventpartner_address).workpartner_name}", 
                            workpartner_tagset_path(id: @workpartner.find_by(workpartner_address: f.eventpartner_address).id), 
                            method: :post %></p>
      <p>予定名：<%= f.event_title %></p>
      <p>予定内容：<%= f.event_message %></p>
      <p><div style="text-align:right"><%= link_to "予定の内容変更", edit_event_path(f) %></div></p>
      <p><div style="text-align:right"><%= link_to '削除', f, method: :delete %></div></p>
      <hr>
    <% end %>
    </div>
    <br>
  <% end %>
  
  
  <br>
  <br>
  <hr>
  <br>




</body>
</html>
