<div id="head">スケジュールアプリ</div>

<hr>
<h1>～login画面～</h1>


<% if flash[:notice] %>
  <u><p><%= flash[:notice] %></p></u>
<% end %>

<div class="login">
<p>
<h2>アカウント情報を記入してください。</h2>
<%= form_tag top_login_path, method: :post do %>

<%= label_tag :user_address,'アドレス' %>
　<%= text_field_tag :user_address %><br><br>

<%= label_tag :pass, 'パスワード' %>
<%= password_field_tag :pass %><br><br>

<%= submit_tag "ログイン",:id => 'button' %>

<% end %>

<br>
<br>
<div id="button">
<%= link_to "sign up", new_user_path %>
</div>
</p>
</div>
