<div id="head">スケジュールアプリ</div>

<hr>

<div class="main">
<h1>仕事相手一覧表示ページ</h1>
</div>

<div id="button">
<%= link_to "メインページに戻る", root_path %></div><br><br>
<div id="button">
<%= link_to "新しく仕事相手を登録する", workpartner_new_path %></div>

<br><br><hr>

<% @workpartners.each do |f| %>
<div id="workpartner">
  <div class="workpartner">
    NAME:<%= f.workpartner_name %><br>  
    ADDRESS:<%= f.workpartner_address %><br><br>
  
  TAG_ALL:<br>
  <% @tags.each do |g| %>
    <% if f.id == g.workpartner_id %>
    #<%= g.workpartner_tag %>
    <% end %>
  <% end %>
  </div>
  
  
  <div style="text-align:right">
    <div id="tag">
    |<%= link_to 'tag付け', "/workpartner/tagset/#{f.id}" %></div>
    <div id="tag">
    |<%= link_to '削除',  workpartner_delete_path(id: f.id) %></div>
  </div>
  
</div>
  <hr>
<% end %>







<%
=begin
%>
<table border="1">
    <tr>
        <th>名前</th>
        <th>アドレス</th>
        <th>Tagの編集</th>
        <th>削除</th>
        <th>Tagの一覧</th>
    </tr>

<% @workpartners.each do |e| %>

  <tr>
      <td><%= e.workpartner_name %></td>
      <td><%= e.workpartner_address %></td>
      <td><%= link_to '編集', workpartner_tagset_path(partner_id: e.id),method: :post %></td>
      <td><%= link_to '削除',  workpartner_delete_path(id: e.id) %></td>
      <td>
          <% @tags = Tag.where(workpartner_id: e.id) %>
          <% @tags.each do |t| %>
            <%= t.workpartner_tag %>
          <% end %>
      </td>
  </tr>
  
<% end %>

</table>
<%
=end
%>



