<div id="head">スケジュールアプリ</div>

<hr>


<div class="main">
<h1>仕事相手新規登録ページ</h1>
</div>


<div id="button">
<%= link_to "メインページに戻る", top_index_path %></div><br><br>
<div id="button">
<%= link_to "一覧に戻る", workpartner_list_path %></div><br><br>

<div id="workpartner"><h2>
  仕事相手を登録してください。
<% if @workpartner.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @workpartner.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>

<%= form_for @workpartner, :url => {:action => 'create'} do |f| %>

 <%= f.label :workpartner_name, '名前' %>　　
 <%= f.text_field :workpartner_name %><br>
 
 <%= f.label :workpartner_address, 'アドレス' %>
 <%= f.text_field :workpartner_address %><br>
 
 <%= f.submit '登録', :id => 'button' %>
 
<% end %>


</h2></div>
