<div id="head">スケジュールアプリ</div>

<hr>


<div class="main">
<h1>仕事相手にTagを設定する</h1>
</div>

<div id="button">
<%= link_to "設定完了(トップへ戻る)", root_path %></div><br><br>
<div id="button">
<%= link_to "一覧に戻る", workpartner_list_path %></div>

<br><br>

<% if @tag.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @tag.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>


<div id="workpartner"><h2>
NAME:<%= @workpartner.workpartner_name %><br>
ADDRESS:<%= @workpartner.workpartner_address %><br><br>

<%= form_for @tag, :url => {:action => 'tagcreate'} do |f| %>
 <%= f.label :workpartner_tag, 'Tagの名前' %>
 <%= f.text_field :workpartner_tag %><br>
 <%= f.hidden_field :workpartner_id, :value => @workpartner.id %>
<%= f.submit 'tagの追加' %>
 
<% end %>
</div>
<hr>
<div id="workpartner">
Tagの一覧<br><br>

<% @tags.each do |f| %>
  #<%= f.workpartner_tag %>
  <%= link_to '×', workpartner_tagdelete_path(id: f.id)%>&ensp;
<% end %>
</h2>
</div>
