<h1>予定追加ページ</h1>
<%= link_to "追加完了(トップへ戻る)", top_index_path %><br>
<%= link_to "Workpartner一覧表示", workpartner_list_path %><br>

<font color="red"><%= @err %></font>

<%= form_tag event_con_path do %>
 
 <%= label_tag :workpartner_address, 'アドレス' %>
 <%= text_field_tag :workpartner_address %><br>
 
 <%= submit_tag '予定追加' %>

<% end %>