<div id="head">スケジュールアプリ</div>

<hr>


<div class="main">
<h1>・すべての予定</h1>
</div>

<hr>
<div class="event">
<% @event.each do |f| %>
    <% if @now.ago(1.days) > f.event_day or f.user_id != session[:user][:id] %>
    <% else %>
      <p>日付：<%= f.event_day %></p>
      <p>開催時間：<%= f.event_time.hour %>時<%= f.event_time.min %>分</p>
      <p>相手：<%= link_to "#{@workpartner.find_by(workpartner_address: f.eventpartner_address).workpartner_name}", 
                            workpartner_tagset_path(id: @workpartner.find_by(workpartner_address: f.eventpartner_address).id), 
                            method: :post %></p>
      <p>予定名：<%= f.event_title %></p>
      <p>予定内容：<%= f.event_message %></p>
      <p><div style="text-align:right"><%= link_to "予定の内容変更", edit_event_path(f.id) %></div></p>
      <p><div style="text-align:right"><%= link_to '削除', f, method: :delete %></div></p>
      <hr>
    <% end %>
<% end %>
</div>

<br><br>

<div class="button">
<%= link_to "設定完了(トップへ戻る)", top_index_path %>
</div>

</div>