<div id="head">スケジュールアプリ</div>

<hr>

<div class="main">
<h1>予定内容変更ページ</h1>
</div>

<div class="event">
  <div class="button">
<%= link_to "topへ戻る", top_index_path %></div><br><br><br>
<div class="button">
<%= link_to "予定の一覧", event_all_path %></div><br><br>


<% if flash[:no] %>
  <u><p><%= flash[:no] %></p></u>
<% end %>

<%= form_for @event, url:{action: :update} do |f| %>
  <%= f.label :event_title, 'イベント名' %><br>
  <%= f.text_field :event_title %><br><br>
  
  <%= f.label '会う相手(アドレスを打ち込んでください)' %><br>
  <%= f.text_field :eventpartner_address %><br><br>
  
  <%= f.label :event_day, '日時' %><br>
  <%= f.date_field :event_day %><br><br>
  
  <%= f.label :event_time, '開催時間' %><br>
  <%= f.time_field :event_time %><br><br>
  
  <%= f.label :event_message, "イベント内容" %><br>
  <%= f.text_area :event_message, rows: 5, cols: 40 %><br><br>
  

  <%= f.submit "編集完了(登録)",:id => 'button' %><br>
<% end %>

<br><br>
<div class="button">
<%= link_to "Tagを設定する", workpartner_tagset_path %></div><br><br>
<div class="button">
<%= link_to "Workpartner一覧表示", workpartner_list_path %></div><br>
</div>

<br><br>
<hr>
<br>