<div id="head">スケジュールアプリ</div>

<hr>

<div class="main">
<h1>消化した予定一覧ページ</h1>
</div>

<div class="event">
<% if flash[:event] %>
  <u><p><%= flash[:event] %></p></u>
<% end %>


  <% @event.each do |f| %>
    <% if @now.ago(1.days) < f.event_day or f.user_id != session[:user][:id]%>
    <% else %>
      <p>日付：<%= f.event_day %></p>
      <p>開催時間：<%= f.event_time.hour %>時<%= f.event_time.min %>分</p>
      <p>相手：<%= link_to "#{@workpartner.find_by(workpartner_address: f.eventpartner_address).workpartner_name}", 
                            workpartner_tagset_path(id: @workpartner.find_by(workpartner_address: f.eventpartner_address).id), 
                            method: :post %></p>
      <p>予定名：<%= f.event_title %></p>
      <p>予定内容：<%= f.event_message %></p>
      <br>
      
      
      <p><div class="button2"><%= link_to "予定の内容変更", edit_event_path(f) %></div></p>
      
      
      <p><div class="button2"><%= link_to '予定の内容削除', f, method: :delete %></div></p>

      <hr>
    <% end %>
  <% end %>
  
</div>
  
<br><br>
  
<div class="button">
<%= link_to "設定完了(トップへ戻る)", top_index_path %>
</div>
