<div id="head">スケジュールアプリ</div>

<hr>

<div class="main">
<h1>予定追加ページ</h1>
</div>

<div class="event">
  <div class="button">
<%= link_to "topへ戻る", top_index_path %>
  </div><br><br><br>

<% if flash[:eventpartner] %>
  <u>
    <p><%= flash[:eventpartner] %></p>
    <p><%= link_to "新しくworkpartnerを設定", workpartner_new_path %></p>
  </u>
<% end %>

<div class="event_new_main">

<% if flash[:no] %>
  <u><p><%= flash[:no] %></p></u>
<% end %>


<%= form_for @event, url:{action: :create} do |f| %>
  <%= f.label :event_title, 'イベント名' %><br>
  <%= f.text_field :event_title %><br><br>
  
  <%= f.label '会う相手(アドレスを打ち込んでください)' %><br>
  <%= f.text_field :eventpartner_address %><br><br>
  
  <%= f.label :event_day, '日時' %><br>
  <%= f.date_field :event_day %><br><br>
  
  <%= f.label :event_time, '開催時間' %><br>
  <%= f.time_field :event_time %><br><br>
  
  <%= f.label :event_message, "イベント内容" %><br>
  <%= f.text_area :event_message, rows: 5, cols: 40 %><br><br>
  

  <%= f.submit "追加する",:id => 'button' %><br>
<% end %>

<br><br>
<div class="button">
<%= link_to "新しくworkpartnerを設定", workpartner_new_path %></div><br><br>
<div class="button">
<%= link_to "Workpartner一覧表示", workpartner_list_path %>
</div>

</div>


<%
=begin
%>
<div class="cp_navi">
<div id="cp_sidenav" class="sidenav">
	<a href="#" id="home">Home</a>
	<a href="#" id="news">News</a>
	<a href="#" id="contact">Contact</a>
	<a href="#" id="about">About</a>
</div>
</div>
<%
=end
%>



</div>


