<div id="head">スケジュールアプリ</div>

<hr>
<h1>～新規ユーザ登録～</h1>

<div class="login">


<%= form_for @user, url:{action: :create} do |f| %>

<%= f.label :user_name,'ユーザーネーム' %>
<%= f.text_field :user_name %><br><br>

<%= f.label :user_address,'アドレス' %>
　　　<%= f.text_field :user_address %><br><br>

<%= f.label :password, 'パスワード' %>
　 　<%= f.password_field :password %><br><br>

<%= f.label :password_confirmation, 'パスワード(確認)' %>
<%= f.password_field :password_confirmation %><br>

<br>


<%= f.submit 'これで登録する', :id => 'button' %>

<% end %>
<br><br>
<div id="button">
<%= link_to '前ページに戻る',root_path %>
</div>
</div>