/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
body {
  background: #888;
  background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
*/

body {
  background: linear-gradient(white, #D3D3D3) fixed;
}



.main {
  /*タイトル用*/
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
}

.main p {
  margin: 0;
  padding: 0;
}




.login {
  max-width: 40%;
  background-color: white;
  padding: 50px;
  margin-bottom: 10px;

  border-top: solid 20px #ff7d6e;

  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  margin-top: 150px;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.login p {
  margin: 0;
  padding: 0;
}

#button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

#button:action {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}

.button2 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
  text-align: right;
}

#head {
  text-align: right;
}

nav {
  border-bottom: 5px solid #ccc;
  position: relative;
}

nav ul {
  position: absolute;
  left: 10%;
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

nav ul li {
  display: table-cell;
  min-width: 50px;
}

nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  text-decoration: none;
  color: #451722;
}

nav ul li a:hover {
  color: #0089BB;
  background-color: #FBFBDD;
}

nav ul li:hover {
  border-top: 5px solid #F8E750;
}
