// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: black;
  font-family: 'Franklin Gothic Medium';
}



.login {
  max-width: 40%;
  background-color: white;
  padding: 50px;
  margin-bottom: 10px;

  border-top: solid 20px #ff7d6e;

  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  margin-top: 150px;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.login p {
  margin: 0;
  padding: 0;
}

#button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

#button:action {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

#head {
  text-align: right;
}
