// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logout {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    margin-right: auto;
}

#logout:hovar {
    background: #00bcd4;
    color: white;
}

#event {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 400px;
    padding: 0.5em 1em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
