<div id="head">スケジュールアプリ</div>

<hr>
<div class="main">
<h1>プロフィール編集ページ</h1>
</div>

<div class="profile">

<%= form_for @profile, url:{action: :update} do |f| %>
  <%= f.label :message, "自己紹介" %><br>
  <%= f.text_area :message, rows: 5, cols: 40 %><br><br>
  <%= f.submit '編集完了', :id => 'button' %>
<% end %>
<br>
<div id="button">
<%= link_to "プロフィール表示", profile_index_path %></div><br><br>
<div id="button">
<%= link_to "トップへ", top_index_path %></div>

</div>