<div id="head">スケジュールアプリ</div>

<hr>
<div class="main">
<h1>プロフィール表示ページ</h1>
</div>

<br>
<div id="button">
<%= link_to "トップへ", top_index_path %>
</div>
<h2>

<div class="profile">
<p>NAME:<%= session[:user].user_name %></p>
<p>ADDRESS:<%= session[:user].user_address %></p>
<p>自己紹介：<%= @profile.message %></p>
</div>
</h2>
<p><div id="button"><%= link_to "編集", edit_profile_path(@profile) %></div></p>
